<head>
  <title>PANGO lineages</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="icon" href="{{ 'assets/images/pangolin_logo.png' | absolute_url }}">
  <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}" />
  <script src="https://kit.fontawesome.com/f4c080e604.js" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/f4c080e604.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
  <script src="https://d3js.org/d3.v3.min.js"></script>
</head>
