<!-- Sidebar -->
  <div id="sidebar">
    <div class="inner">

      <!-- Menu -->
        <nav id="menu">
          <header class="major">
            <h2>Menu</h2>
          </header>
          <ul>
            <li><a href="{{ 'index.html' | absolute_url }}">Home</a></li>
            <li><a href="{{ 'descriptions.html' | absolute_url }}">Descriptions</a></li>
            <li>
              <span class="opener">Lineages</span>
              <ul>
                <li><a href="#">A</a></li>
                <li><a href="#">B</a></li>
                <li><a href="#">B.1</a></li>
                <li><a href="#">B.1.1</a></li>
              </ul>
            </li>
            <li><a href="{{ 'summaries.html' | absolute_url }}">Summary figures</a></li>
            <li><a href="https://github.com/cov-lineages/assignment">Suggest a lineage</a></li>
            <li><a href="https://github.com/cov-lineages/pangolin">pangolin GitHub</a></li>
            
          </ul>
        </nav>

      <!-- Section -->
        <section>
          <div class="mini-posts">
            <article>
              <a href="https://pangolin.cog-uk.io/" class="image"><img src="assets/images/pangolin_logo.png" style="height:50px;max-height:50px;max-width:55px" alt="" /></a>
            </article>
          </div>
        </section>
    </div>
  </div>
