<!-- Sidebar -->
  <div id="sidebar">
    <div class="inner">

    <!-- Search -->
    <!-- <section id="search" class="alt">
        <form method="post" action="#">
        <input type="text" name="query" id="query" placeholder="Search" />
        </form>
    </section> -->

      <!-- Menu -->
        <nav id="menu">
          <header class="major">
            <h2>Menu</h2>
          </header>
          <ul>
            <li><a href="{{ 'index.html' | absolute_url }}">Home</a></li>
            <li>
              <span class="opener">Major lineages</span>
              <ul>
                  
                <li><a href="{{ 'lineages/lineage_A.html' | absolute_url }}">A</a></li>
                <li><a href="{{ 'lineages/lineage_B.html' | absolute_url }}">B</a></li>
                <li><a href="{{ 'lineages/lineage_B.1.html' | absolute_url }}">B.1</a></li>
                <li><a href="{{ 'lineages/lineage_B.1.1.html' | absolute_url }}">B.1.1</a></li>
              </ul>
            </li>
            <li><a href="{{ 'descriptions.html' | absolute_url }}">All lineage descriptions</a></li>
            <li><a href="{{ 'assignment.html' | absolute_url }}">Suggest a lineage</a></li>
            <!-- <li><a href="https://github.com/cov-lineages/assignment">Suggest a lineage</a></li> -->
            <li><a href="https://github.com/cov-lineages/pangolin">pangolin GitHub</a></li>
            <li><a href="{{ 'contributors.html' | absolute_url }}">Contributors</a></li>
          </ul>
        </nav>

      <!-- Section -->
        <section>
            <article>
                <a href="https://pangolin.cog-uk.io/" class="image fit"><img src="{{ 'assets/images/pangolin_logo.png' | absolute_url }}" style="text-align:center;height:100px;max-width:100px" alt=""/></a>
            </article>
        </section>
        

      <!-- Footer -->
      <footer id="footer">
        <p class="copyright">&copy; {{ site.title }} lineages <br>
            Design: <a href="https://html5up.net">HTML5 UP</a> <br>
             <a href="https://andrewbanchi.ch">Andrew Banchich</a> <br>
             <a href="https://aineotoole.ed.ac.uk">Aine O'Toole</a>
            </p>
      </footer>

    </div>
  </div>
