<!DOCTYPE HTML>
<!--
	SARS-CoV-2 lineages
-->
<html>

{% include head.html %}

<body>
  <script>
    $(document).ready(function() {
      $(window).scroll(function() {
      if ($(this).scrollTop() > 20) {
      $('#toTopBtn').fadeIn();
      } else {
      $('#toTopBtn').fadeOut();
      }
      });
      
      $('#toTopBtn').click(function() {
      $("html, body").animate({
      scrollTop: 0
      }, 400);
      return false;
      });
      });
  </script>
  
  <script type="text/javascript">
    const updateTableFactory = (tooltipId,metadata)=>(tipId)=>{
            const data = metadata[tipId];
            const tableDiv = d3.select(document.getElementById(tooltipId));
            //Remove table
        tableDiv.html("")
            if (data !== undefined) {
                const visibleData = Object.keys(data).filter(d=>d!=='sequence_name');
                tableDiv.append("h3")
                    .attr("class",'tooltip-header')
                    .text(tipId)
                    .append("hr");
                tableDiv.selectAll("p")
                        .data(visibleData)
                        .enter()
                        .append("p")
                        .attr("class","tooltip-text")
                            .selectAll("span")
                            .data(d=>[d,data[d]])
                            .enter()
                            .append("span")
                            .attr("class",(d,i)=> i===0? "tooltip-key" :"tooltip-value")
                            .text((d,i)=>i===0? d + " : ": d);
            }
    }
    <%text>
    
    function addSliderEventHandler(sliderID,fig){
      const svg = fig.svgSelection.select(function() { return this.parentNode; })
      const initialHeight = svg.attr("height");
      const maxHeight = fig.tree().externalNodes.length*50; // 50 pixels for each tip plus a little for margins;

      if(maxHeight<=initialHeight){
        d3.select(`#${sliderID}`).remove();// don't need  a slider
        return;
      }
      const heightScale = d3.scaleLinear()
              .range([initialHeight,maxHeight])
              .domain([0,1])

          if(initialHeight/fig.tree().externalNodes.length>12){
            fig.svgSelection.selectAll(".label")
            .classed("show",true)
          }

      d3.select(`#${sliderID}`).on("input",function(){
            const svgHeight = heightScale(this.value);
            //magic number!!
            svg.attr("height", svgHeight);
          fig.update();
          if(svgHeight/fig.tree().externalNodes.filter(node=>!node[fig.id].ignore).length>12){
            fig.svgSelection.selectAll(".label")
            .classed("show",true)
          }else{
            fig.svgSelection.selectAll(".label")
            .classed("show",false)
          }
      })
    }
    </%text>


    function buildTree(svgID, myTreeString,tooltipID,backgroundDataString,sliderID) {
        const backgroundData = JSON.parse(backgroundDataString);
        const updateTable = updateTableFactory(tooltipID, backgroundData);
        const margins = {top:50,bottom:60,left:100,right:250}
        const svg = d3.select(document.getElementById(svgID))
        svg.selectAll("g").remove();
        const newickString = myTreeString;
        const tree = figtree.Tree.parseNewick(newickString);
        const fig = new figtree.FigTree(document.getElementById(svgID),margins, tree)
        fig.layout(figtree.rectangularLayout)
                .nodes(figtree.circle()
                                .filter(n=>!n.children)
                                .attr("r",8)
                                .hilightOnHover(20)
                                .onClick((node,i,n)=>{
                                  updateTable(node.name);
                                  fig.svgSelection.selectAll(".selected").classed("selected",false);
                                  d3.select(n[i]).classed("selected",true);
                                }),
                        figtree.tipLabel(v=>v.name).attr("dx",10),
                        figtree.rectangle()
                                .filter(n=>n[fig.id].collapsed)
                                .attr("width",20)
                                .attr("height",20)
                )
                      .nodeBackgrounds(figtree.circle()
                                        .attr("r", 10)
                              .filter(n=>!n.children)
                                      )
                      .branches(figtree.branch()
                                  .hilightOnHover(20) 
                                  .collapseOnClick()
                                  .on("click",()=>{
                                    const svgHeight = fig.svgSelection.select(function() { return this.parentNode; }).attr("height");
                                    if(svgHeight/fig.tree().externalNodes.filter(node=>!node[fig.id].ignore).length>12){
                                      fig.svgSelection.selectAll(".label")
                                        .classed("show",true)
                                    }else{
                                      fig.svgSelection.selectAll(".label")
                                      .classed("show",false)
                                    }
                                  })
                          )
                          .feature(
                                  figtree.scaleBar()
                                    .direction("x")
                                    .length(1/29903)
                                    .x(-60)
                                    .y(-30)
                                    // .y(fig.svgSelection.select(function() { return this.parentNode; }).attr("height")-margins.top-margins.bottom+20)
                                    .title({text:"~1 SNP",
                                    yPadding:10})
                                      )

      addSliderEventHandler(sliderID,fig);

    }
  </script>


    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">

                {% include header.html %}

                <!-- Content -->
                <section>
                	<header class="main">
                    <a href="#" id="toTopBtn" class="cd-top text-replace js-cd-top cd-top--is-visible cd-top--fade-out" data-abc="true"></a>
                		<h2>{{ page.title }}</h2>
                	</header>
                  {% if page.parent %}
                  <p>
                    <ul class="actions small">
                    <a href="/lineages/lineage_{{ page.parent }}.html" class="button special fit">Go to parent lineage: {{ page.parent }}</a>
                  </ul>
                 </p>
                 {% endif %}
                 <h3> Lineage summaries</h3>

                 <img src="../assets/images/{{ page.lineage}}.svg" alt="{{ page.lineage }} lineage summary figure" width="90%" height="700px" />
                                   
                 <h3><strong>Table 1</strong> | Summary of clusters <br>  <input class="searchbar" type="text" id="myInput" onkeyup="myFunction('myInput','myTable')" placeholder="Search for lineage..." title="searchbar"></h3>
              <br><br>
              <table id="myTable">
                <tr class="header">
                  <th style="width:8%;">Lineage</th>
                  <th style="width:17%;">Most common countries</th>
                  <th style="width:10%;">Earliest date</th>
                  <th style="width:8%;">Count</th>
                  <th style="width:18%;">Travel History</th>
                  <th style="width:35%;">Description</th>
                  <th style="width:8%;">Recall rate</th>
                </tr>
                  {% for child in page.children %}

                  {% assign row = site.data.lineage_data[child] %}
                <tr>
                  <td><a href="/lineages/lineage_{{ child }}.html" style="color:#86b0a6">{{ child }}</a> </td>
                  <td>{{ row["Countries"] }}</td>
                  <td>{{ row["Earliest date"] }}</td>
                  <td>{{ row["Count"] }}</td>
                  <td>{{ row["Travel History"] }}</td>
                  <td>{{ row["Description"] }}</td>
                  <td>{{ row["Recall rate"] }}</td>
                </tr>

                  {% endfor %}
                
                </table>

                {{ content }}
                </section>
              </div>
          </div>
          <script>
            function myFunction(myInput, myTable) {
              var input, filter, table, tr, td, i, txtValue;
              input = document.getElementById(myInput);
              filter = input.value.toUpperCase();
              table = document.getElementById(myTable);
              tr = table.getElementsByTagName("tr");
              for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                  txtValue = td.textContent || td.innerText;
                  if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                  } else {
                    tr[i].style.display = "none";
                  }
                }       
              }
            }
            </script>
          {% include sidebar.html %}

      </div>

      {% include footer.html %}

</body>

</html>
